/**Обнуление**/
*,*::before,*::after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

p {
    display: block;
    
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

@font-face {
    font-family: 'Monocraft';
    src: url('../fonts/Monocraft.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Miracode';
    src: url('../fonts/Miracode.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

html,body{
    height: 100%;
    font-family: "Monocraft", system-ui;
    font-weight: 400;
    font-style: normal;
}

.wrapper{
    display:flex; /* Создаем flex элемент */
    min-height: 100%;
    overflow: hidden; /* За рамками все стирается */
    flex-direction: column; /* Позиция элементов (вертикально) */
}

.container{
    max-width: 100%;
    margin: 0px auto; /* Отступ от контейнера наружу */
    padding: 1.5% 10%; /* Отступ от контейнера внутрь */
}

.main_content_block {
    max-width: 1500px;
    margin: 0px auto;
    padding: 1.5% 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.views_counter{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
    opacity: 0.5;

}

.title_text{
    color: white;
    -webkit-text-stroke: 1px #000;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

.header {
    position: relative;
    width: 100%;
    height: 100vh; /* Высота равна высоте экрана */
    overflow: hidden; /* Скрываем содержимое за пределами блока */
}

.header video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 101%;
    height: 101%;
    max-width: none;
    transform: translate(-50%, -50%);
    z-index: -1;
    object-fit: cover; /* Масштабируем видео, чтобы оно помещалось в блок */
    filter: blur(10px);
    animation: playVideo 10s linear infinite; /* Создаем анимацию для бесконечного проигрывания видео */
    background-color: #fff;
}

@keyframes playVideo {
    0% {
        transform: translate(-50%, -50%);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}

.avatar{
    width: 130px;
    height: 130px;
    border-radius: 100px;
}

.infoblock{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    padding: 10% 0px 0px 0px;
    color: #ffffff;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

.fa-brands{
    font-size: 60px;
    text-shadow: none;
    text-shadow: 1px 1px 2px white, 0 0 1em white, 0 0 0.2em white;
}

.fa-vk{
    color: #4C75A3; /* Это официальный цвет VK */
  }

.fa-telegram{
    color: #0088CC;
}

.fa-youtube {
    color: #FF0000;
}

.fa-github {
    color: #24292e;
}

.cpp-icon{
  width: 60px;
}

.fa-solid {
    color: #cf7a43;
    font-size: 60px;
}

@media (max-width: 1920px){
    .container {
      padding: 2% 8%;
    }
  
    .views_counter {
      font-size: 0.9rem;
    }
  
    .title_text {
      font-size: 1.5rem;
    }
  
    .header {
      height: 100vh;
    }
  
    .header video {
      width: 100%;
      height: 100%;
    }
  
    .avatar {
      width: 110px;
      height: 110px;
    }
  
    .infoblock {
      padding: 9% 0 0 0;
      gap: 20px;
    }
  
    .fa-brands {
      font-size: 50px;
    }

    .fa-solid {
      font-size: 50px;
    }
  
    button {
      padding: 18px 26px;
      border-radius: 22px;
      font-size: 13px;
      letter-spacing: 1.8px;
      box-shadow: 0px 4px 8px #000;
    }
  
    .author {
      font-size: 9px;
      letter-spacing: 0.9px;
    
  
    .main_text {
      font-size: 34px;
      padding: 45px 0 35px 450px;
    }
  
    .face {
        height: 135px;
        border-radius: 50%;
    }
  
    .rectangle_content {
      padding: 25px 28px;
      border-radius: 35px;
    }
  
    .rectangle_content p {
      font-size: 16px;
      letter-spacing: 0.8px;
      line-height: 18px;
    }
  
    .biography {
      width: 700px;
    }
  
    .triangle {
      margin-left: 65px;
      margin-top: 48px;
      border-width: 18px;
      border-right-width: 18px;
    }
  
    .triangle::after {
      top: -18px;
      left: -18px;
      border-width: 18px;
      border-right-width: 18px;
    }
  
    .expirience_content {
      margin-bottom: 80px;
    }
  
    .education {
      width: 450px;
      margin-right: 35px;
    }
  
    .work {
      width: 450px;
    }

    .stack_content{
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 100px;
    }
    
    .stack {
      display: flex;
      gap: 20px;
      max-width: 500px;
      justify-content: left;
      flex-wrap: wrap;
    
    }
}  

button{
    padding: 20px 30px;
    border-radius: 25px;
    background-color: #FF4C60;
    cursor: pointer;
    color: #fff;
    font-family: "Press Start 2P";
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 2px;
    box-shadow: 0px 5px 10px #000;
}

.author{
    padding-top: 1px;
    text-align: center;
    font-size: 10px;
    color: white;
    margin: auto;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
    opacity: 0.25;
}

.repo-link{
    color: white;
    text-decoration: underline;
}

.about_me_content{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main_text{
    font-family: "Miracode", system-ui;
    font-weight: bold;
    font-size: 40px;
    color: #454360;
    padding: 50px 0px 60px 150px;
    text-align: left;
}

body {
    background-color: #F9F9FF;
}

.face{
    width: 180x;
    height: 180px;
    border-radius: 100px;
}

.rectangle_content{
    background-color: #fff; /* Цвет фона прямоугольника */
    padding: 30px 32px; /* Внутренние отступы */
    margin-bottom: 50px;
    border-radius: 40px; /* Скругление углов */
    text-align: left; /* Выравнивание текста по центру */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1), /* Тень снизу */
                0px -5px 10px rgba(0, 0, 0, 0.1); /* Тень сверху */

    p{
        font-size: 20px;
        color: #5E5C7F;
        letter-spacing: 1px; /* Увеличивает межбуквенный интервал на 1 пиксель */
        line-height: 25px; /* Увеличивает межстрочный интервал в 1.5 раза */
        font-family: "Miracode", system-ui;
    }
}

.biography {
  display: flex;
  flex-direction: column;
  width: 1000px;
  position: relative; /* Необходимо, чтобы сделать родителем для абсолютно позиционированного элемента */
}

.triangle{
    width: 0;
    height: 0;
    border-right: 20px solid #fff;
    margin-left: 75px;
    margin-top: 86px;
    position: relative;
}

.triangle::after {
    content: "";
    position: absolute;
    top: -20px; /* Смещение тени вверх на высоту границы треугольника */
    left: -20px; /* Смещение тени вправо на ширину границы треугольника */
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-right: 20px solid rgba(0, 0, 0, 0.08); /* Тень */
}

.expirience_content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 100px;
}

.education{
    width: 500px;
    margin-right: 40px;
}

.work{
    width: 500px;
}

#soundButton {
  position: absolute;
  z-index: 1;
  padding: 8px 8px;
  font-size: 15px;
  background-color: #0000000a;
  color: black;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  box-shadow: 0px 2px 5px #000;
  transition: background-color 0.3s, transform 0.3s;
  bottom: 20px; /* Позиционируем кнопку снизу */
  right: 20px; /* Позиционируем кнопку справа */
}

#soundButton.play {
  background-color: #00ff005b; /* Зеленый цвет при воспроизведении */
  font-size: 25px;
  padding: 0px 0px 1.5px 1.5px;
}

#soundButton:active {
  transform: scale(0.9); /* Анимация нажатия */
}

.stack_content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 100px;
}

.stack {
  display: flex;
  gap: 10px 20px; /* Убедитесь, что это значение вам подходит */
  max-width: 1020px;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.languages {
  font-family: "Miracode", system-ui;
  margin-bottom: 20px;
}

.frameworks-tools {
  margin: 40px 0px 20px 0px;
  font-family: "Miracode", system-ui;
}

.services-section {
  display: flex;
  font-family: "Miracode", system-ui;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}

.services-grid {
  display: flex;
  min-width: 240px;
  justify-content: start;
  flex-wrap: wrap;
}

.service-card-wrapper {
  display: flex;
  min-height: 1px;
  min-width: 240px;
  justify-content: center;
  height: 100%;
  flex: 1;
  flex-basis: 0%;
  padding: 15px;
}

.service-card {
  display: flex;
  min-width: 240px;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: start;
  flex: 1;
  flex-basis: 0%;
}

.service-content {
  border-radius: 20px;
  display: flex;
  max-width: 100%;
  width: 330px;
  height: 580px;
  flex-direction: column;
  padding: 30px;
}

.service-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 80px;
  align-self: center;
}

.service-title {
  margin-top: 22px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  padding: 0 69px;
}

.service-description {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  padding: 0 2px;
  color: #454360;
}

.design-card {
  background: var(--jthemes-net-royal-blue, #6c6ce5);
  box-shadow: 0px 5px 20px 0px rgba(108, 108, 229, 0.5);
}

.design-title {
  color: var(--jthemes-net-white, #000);
}

.development-card {
  background: var(--jthemes-net-energy-yellow, #f9d74c);
  box-shadow: 0px 5px 20px 0px rgba(249, 215, 76, 0.5);
}

.development-title {
  color: var(--jthemes-net-mulled-wine, #000);
}

.backend-card {
  background: var(--jthemes-net-radical-red, #ff4c60);
  box-shadow: 0px 5px 20px 0px rgba(249, 123, 139, 0.5);
}

.backend-title {
  color: var(--jthemes-net-white, #000);
}

@media (max-width: 991px) {
  .services-grid {
    max-width: 100%;
  }
  .service-content {
    padding: 0 20px;
  }
  .service-title {
    padding: 0 20px;
  }
}
